*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#0077b6;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.game{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;


}

.box{
height: 18vmin;
width: 18vmin;
border-radius: 2rem;
border: none;
box-shadow: 0 0 2rem rgba(9, 9, 9, 0.8);
font-size: 2rem;
color: #bc6c25;
background-color: white;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: whitesmoke;
    color: #bc6c25;
    border-radius: 1.6rem;
    border:black solid;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: whitesmoke;
    color: #bc6c25;
    border-radius: 1.6rem;
    border:black solid; 
}

#msg{
    color: wheat;
    font-size: 2rem;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

.footer{
    text-align: center;
    padding: 10px;
    background-color: #0077b6;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size:bold;
    font-style: italic;
    border-radius: 10px;
}

